*{
    margin: 0;
    padding: 0;
    font-family: 'Gothic A1', sans-serif;
}
body{
    background-color: #101010;
}
.navbar-Container{
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #21222A;
    padding: 30px 25px;
}
.logo{
    width: 40px;
    padding-right: 7px;
    display: inline-block;
    transition: all 1s;
}
.logo:hover {
    transform: rotate(720deg);
}
.heading-right{
    font-size: 1.2rem;
    font-weight: 600;
}
.heading-left{
    color: #61dafb;
    margin-right: auto;
    font-weight: 700;
}
.Mian-conatiner{
    padding: 57px 27px;
    color: #fff;
    background-image: url("Images/react-icon-large.png");
    background-repeat: no-repeat;
    background-position: right 75%;
    background-size: 200px;
}
.Mian-conatiner h1{
    margin: 0px;
    letter-spacing: -0.05em;
}
ul{
    margin-top: 46px;
    padding-left: 30px;
    max-width: 400px;
}
.list{
    line-height: 19px;
    padding-block: 10px;
}
.list::marker{
    color: #61dafb;
    font-size: 1.5rem;
}
/* .App{
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
} */